/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility*/

.container{
    max-width: 500px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

/* generics */

img{
    width: 100%;
    display: block;
}

body{
    font-family: 'Fredoka', sans-serif;
}

header{
    background-color: #0084FD;
}

/* header */

header .container{
    justify-content: space-between;
    align-items: center;
}

header .container > *{
    padding: 30px 0;
    color: white;
    font-size: 30px;
}

.card{
    border-radius: 30px;
}

/* main */

/* demo-application */

.demo-application .card{
    background-color: #B5DDFF;
    height: 100px;
}

.col{
    margin: 60px 0;
}

/* strategic-plane */

.strategic-plan{
    background-color: #9792E4;
}

.strategic-plan .row > div{
    background-color: aquamarine;
}

.strategic-plan .row div:first-child{
    margin-bottom: 20px;
}

.strategic-plan .container{
    padding: 30px 0;
}


/* responsive */

