/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility*/

.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}

.d-flex{
    display: flex;
}

.card{
    border-radius: 30px;
}

/* generics */

img{
    width: 100%;
    display: block;
}

body{
    font-family: 'Fredoka', sans-serif;
}

header{
    background-color: #0084FD;
}

footer{
    background-color: #333;
}

/* header */

header .container{
    justify-content: space-between;
    align-items: center;
}

header .container > *{
    color: white;
    font-size: 30px;
}

/* main */

/* demo-application */

.demo-application .card{
    background-color: #B5DDFF;
    height: 100px;
}

.demo-application .col{
    margin-bottom: 50px;
}

/* strategic-plane */

.strategic-plan{
    background-color: #9792E4;
}

.strategic-plan .row > div{
    background-color: aquamarine;
}

.strategic-plan .row div:first-child{
    margin-bottom: 20px;
}

/* testimonials */

.testimonials .card{
    background-color: #9792E4;
}

/* benefits */
.benefits{
    background-color: #9792E4;
}

.benefits .card{
    background-color: white;
    color: #9792E4;
}

/* about us */

/* its free */

.its-free{
    background-color: #9792E4
}

/* footer */

/* responsive */

@media screen and (min-width:576px) {
    .container{
        max-width: 500px;
    }
}

@media screen and (min-width:768px) {
    .container{
        max-width: 720px;
    }

    .demo-application .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .demo-application .col{
        flex-basis: 33%;
        padding: 10px;
        margin-bottom: 0;
    }

    .demo-application .row .col:first-child{
        flex-basis:66%;
    }

    .testimonials .card{
        display: flex;
    }

    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .benefits .col{
        flex-basis: 50%;
        padding: 10px;
    }

    .about-us .row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;;
    }
}

@media screen and (min-width:992px) {
    .container{
        max-width: 900px;
    }

    .demo-application .row .col .card:first-child{
        display: flex;
        justify-content:space-between;
    }
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1000px;
    }
}
